.images-component {
  display: block;
  margin: 20px auto;
}

.flex {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  flex-basis: auto;
  justify-content: flex-start;
}

.flex div {
  margin: 10px 0;
  flex: 1;
  max-width: 25%;
}

img {
  height: 300px;
  width: 300px;
}

@media only screen and (max-width:768px) {
  .flex div {
    min-width: 50%;
    margin: 0;
  }
  .flex img {
    padding: 5px;
    height: 10rem;
    width: 10rem;
  }
}
