<div class="images-component row">
  <div class="flex">
    <div *ngFor="let image of imagesToShow">
      <img [src]="image"
           class="img1"
           alt="Image title">
    </div>
  </div>
</div>
