<div class="main container">
  <div id="header">
    <h2>Venues</h2>
    <p *ngIf="!dataLoaded">Gathering data...</p>
  </div>
  <div>
    <agm-map [latitude]="tartuBusStation.lat"
             [longitude]="tartuBusStation.lng"
             [zoom]="12.5"
             [mapDraggable]="true"
             [disableDefaultUI]="true">
      <agm-circle [latitude]="tartuBusStation.lat"
                  [longitude]="tartuBusStation.lng"
                  [radius]="circleRadius"
                  [fillColor]=""
                  [strokeOpacity]="1"
                  [strokeWeight]="2"
                  [fillOpacity]="0"
                  [clickable]="false"
                  [strokeColor]="'#00bf00'">
      </agm-circle>

      <agm-marker
        *ngFor="let res of filteredRestaurants; let i = index"
        [draggable]="false"
        [latitude]="res.geometry.location.lat"
        [longitude]="res.geometry.location.lng"
      >

        <agm-info-window [disableAutoPan]="true">
          <strong>{{res.name}}</strong>
        </agm-info-window>

      </agm-marker>
    </agm-map>
  </div>
  <div *ngIf="filteredRestaurants">
    <app-place-images [filteredRestaurants]="filteredRestaurants"></app-place-images>
  </div>
</div>
