body {
  background: rgb(95,99,234);
  background: -moz-linear-gradient(210deg, rgba(95,99,234,1) 0%, rgba(227,82,134,1) 99%);
  background: -webkit-linear-gradient(210deg, rgba(95,99,234,1) 0%, rgba(227,82,134,1) 99%);
  background: linear-gradient(210deg, rgba(95,99,234,1) 0%, rgba(227,82,134,1) 99%);
}
